@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;700&family=Moon+Dance&family=Oswald:wght@700&family=Prosto+One&display=swap');
.wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.quote-wrapper {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 20px;
    border:2px solid lightblue; 
    border-radius: 20px;
    box-shadow: 4 4 4px;
}

.quote-card{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

