.Home{
    display: flex;
    gap: 20px;

    ul{
       list-style-type: none;
       display: flex;
       justify-content: space-around;
       gap: 20px;
       align-items: center;
       text-decoration: none;
    }
    li{

        padding: 10px;
        cursor: pointer;
    }
}