@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Moon+Dance&family=Oswald:wght@700&family=Prosto+One&display=swap');
.quoteDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid grey;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-left: 20vh;
    border-radius: 10px;
    box-shadow: 0, 0, 4 rgba(0, 0,0, 0.34);
    background-color: cadetblue;
    margin-left: 70vh;
}

.quote {
    width: 250px;
   height: 50px;
   margin-left: 60px;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3rem;

}
.author {
  height: 50px;
    color: whitesmoke;
   margin-left: 60px;
   font-family: 'Dancing Script', cursive;
   font-size: 1.2rem;
}