

.input {
 border: none;
 border-bottom: 1px solid rgb(242, 150, 117);
 margin-right: 10px;
}
.submit{
    padding: 4px;
    border: none;
    background-color: rgb(242, 150, 117);
    color: white;
    border-radius: 10px ;
    box-shadow: 0px, 0px, 0px, 5px rgba(0,0,0,0.35);
    cursor: pointer;
}