.CardProduct {
 border: 1px solid cadetblue;
 display: flex;
 flex-direction: column;
 width: 300px;
 height: 550px;
 border-radius: 15px;
 background: linear-gradient(0deg, rgba(94,158,161,1) 20%, rgba(255,255,255,1) 80%);
 box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);;
}
.CardProduct img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 5px solid #5e9ea1;
    width: 300px;
    height: 200px;
    object-fit: cover;
    color: #ffffff;

}

.textDiv {
padding: 10px;
}