.TodoItem {
    align-items: center;
    border-bottom: 1px solid lightcoral;
    display: flex;
    justify-content: space-between;
}

.bin{
    background-color: transparent;
    cursor: pointer;
    color: #f29675;

}
.bin:hover{

  background-color: radial-gradient(circle, rgba(255,255,255,1) 33%,rgba(242,150,117,0.837962962962963) 80%);
}

.item{
  list-style-type: none;

}